## EXPERIMENT NO:-02
## Name:-Tushar Kokare
## EN - EN24207144

In [1]:
import pandas as pd

In [3]:
import numpy as np

In [9]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [11]:
df=pd.read_csv('pr2.csv')

In [13]:
df

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,YearsSinceLastPromotion,YearsWithCurrManager,DailyRateGroups,HourlyRateGroups,MonthlyIncomeGroups,MonthlyRateGroups,TotalWorkingYearsGroups,YearsAtCompanyGroups,AgeGroups,YearsBeforeCompanyGroups
0,0,41,Yes,Travel_Rarely,1102,Sales,1,College,Life Sciences,1,...,0,5,K - 1100 => 1200,I - 90 => 100,E - 5000 => 6000,S - 19000 => 20000,D - 6 => 10 Years,D - 6 => 10 Years,E - 41 => 50 Years,B - 2 => 3 Years
1,1,49,No,Travel_Frequently,279,Research & Development,8,Below College,Life Sciences,1,...,1,7,B - 200 => 300,F - 60 => 70,E - 5000 => 6000,X - 24000 => 25000,D - 6 => 10 Years,D - 6 => 10 Years,E - 41 => 50 Years,B - 2 => 3 Years
2,2,37,Yes,Travel_Rarely,1373,Research & Development,2,College,Other,1,...,0,0,M - 1300 => 1400,I - 90 => 100,B - 2000 => 3000,B - 2000 => 3000,D - 6 => 10 Years,A - 0 => 1 Year,D - 31 => 40 Years,B - 2 => 3 Years
3,3,33,No,Travel_Frequently,1392,Research & Development,3,Master,Life Sciences,1,...,3,0,M - 1300 => 1400,E - 50 => 60,B - 2000 => 3000,W - 23000 => 24000,D - 6 => 10 Years,D - 6 => 10 Years,D - 31 => 40 Years,B - 2 => 3 Years
4,4,27,No,Travel_Rarely,591,Research & Development,2,Below College,Medical,1,...,2,2,E - 500 => 600,C - 30 => 40,C - 3000 => 4000,P - 16000 => 17000,D - 6 => 10 Years,B - 2 => 3 Years,C - 26 => 30 Years,B - 2 => 3 Years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,1465,36,No,Travel_Frequently,884,Research & Development,23,College,Medical,1,...,0,3,H - 800 => 900,D - 40 => 50,B - 2000 => 3000,L - 12000 => 13000,F - 16 => 20 Years,C - 4 => 5 Years,D - 31 => 40 Years,B - 2 => 3 Years
1466,1466,39,No,Travel_Rarely,613,Research & Development,6,Below College,Medical,1,...,1,7,F - 600 => 700,D - 40 => 50,I - 9000 => 10000,U - 21000 => 22000,D - 6 => 10 Years,D - 6 => 10 Years,D - 31 => 40 Years,B - 2 => 3 Years
1467,1467,27,No,Travel_Rarely,155,Research & Development,4,Bachelor,Life Sciences,1,...,0,3,A - 100 => 200,H - 80 => 90,F - 6000 => 7000,E - 5000 => 6000,D - 6 => 10 Years,D - 6 => 10 Years,C - 26 => 30 Years,B - 2 => 3 Years
1468,1468,49,No,Travel_Frequently,1023,Sales,2,Bachelor,Medical,1,...,0,8,J - 1000 => 1100,F - 60 => 70,E - 5000 => 6000,M - 13000 => 14000,F - 16 => 20 Years,D - 6 => 10 Years,E - 41 => 50 Years,B - 2 => 3 Years
1469,1469,34,No,Travel_Rarely,628,Research & Development,8,Bachelor,Medical,1,...,1,2,F - 600 => 700,H - 80 => 90,D - 4000 => 5000,J - 10000 => 11000,D - 6 => 10 Years,C - 4 => 5 Years,D - 31 => 40 Years,B - 2 => 3 Years

In [15]:
df.head()

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,YearsSinceLastPromotion,YearsWithCurrManager,DailyRateGroups,HourlyRateGroups,MonthlyIncomeGroups,MonthlyRateGroups,TotalWorkingYearsGroups,YearsAtCompanyGroups,AgeGroups,YearsBeforeCompanyGroups
0,0,41,Yes,Travel_Rarely,1102,Sales,1,College,Life Sciences,1,...,0,5,K - 1100 => 1200,I - 90 => 100,E - 5000 => 6000,S - 19000 => 20000,D - 6 => 10 Years,D - 6 => 10 Years,E - 41 => 50 Years,B - 2 => 3 Years
1,1,49,No,Travel_Frequently,279,Research & Development,8,Below College,Life Sciences,1,...,1,7,B - 200 => 300,F - 60 => 70,E - 5000 => 6000,X - 24000 => 25000,D - 6 => 10 Years,D - 6 => 10 Years,E - 41 => 50 Years,B - 2 => 3 Years
2,2,37,Yes,Travel_Rarely,1373,Research & Development,2,College,Other,1,...,0,0,M - 1300 => 1400,I - 90 => 100,B - 2000 => 3000,B - 2000 => 3000,D - 6 => 10 Years,A - 0 => 1 Year,D - 31 => 40 Years,B - 2 => 3 Years
3,3,33,No,Travel_Frequently,1392,Research & Development,3,Master,Life Sciences,1,...,3,0,M - 1300 => 1400,E - 50 => 60,B - 2000 => 3000,W - 23000 => 24000,D - 6 => 10 Years,D - 6 => 10 Years,D - 31 => 40 Years,B - 2 => 3 Years
4,4,27,No,Travel_Rarely,591,Research & Development,2,Below College,Medical,1,...,2,2,E - 500 => 600,C - 30 => 40,C - 3000 => 4000,P - 16000 => 17000,D - 6 => 10 Years,B - 2 => 3 Years,C - 26 => 30 Years,B - 2 => 3 Years

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 45 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1470 non-null   int64
 1   Age                       1470 non-null   int64
 2   Attrition                 1470 non-null   object
 3   BusinessTravel            1470 non-null   object
 4   DailyRate                 1470 non-null   int64
 5   Department                1470 non-null   object
 6   DistanceFromHome          1470 non-null   int64
 7   Education                 1470 non-null   object
 8   EducationField            1470 non-null   object
 9   EmployeeCount             1470 non-null   int64
 10  EmployeeNumber            1470 non-null   int64
 11  EnvironmentSatisfaction   1470 non-null   int64
 12  Gender                    1470 non-null   object
 13  HourlyRate                1470 non-null   int64
 14  JobInvolvement            1470 non-null   int64
 15  JobLevel                  1470 non-null   object
 16  JobRole                   1470 non-null   object
 17  JobSatisfaction           1470 non-null   int64
 18  MaritalStatus             1470 non-null   object
 19  MonthlyIncome             1470 non-null   int64
 20  MonthlyRate               1470 non-null   int64
 21  NumCompaniesWorked        1470 non-null   int64
 22  Over18                    1470 non-null   object
 23  OverTime                  1470 non-null   object
 24  PercentSalaryHike         1470 non-null   int64
 25  PerformanceRating         1470 non-null   int64
 26  RelationshipSatisfaction  1470 non-null   int64
 27  StandardHours             1470 non-null   int64
 28  StockOptionLevel          1470 non-null   int64
 29  TotalWorkingYears         1470 non-null   int64
 30  TrainingTimesLastYear     1470 non-null   int64
 31  WorkLifeBalance           1470 non-null   int64
 32  YearsAtCompany            1470 non-null   int64
 33  YearsBeforeCompany        1470 non-null   int64
 34  YearsInCurrentRole        1470 non-null   int64
 35  YearsSinceLastPromotion   1470 non-null   int64
 36  YearsWithCurrManager      1470 non-null   int64
 37  DailyRateGroups           1470 non-null   object
 38  HourlyRateGroups          1470 non-null   object
 39  MonthlyIncomeGroups       1470 non-null   object
 40  MonthlyRateGroups         1470 non-null   object
 41  TotalWorkingYearsGroups   1470 non-null   object
 42  YearsAtCompanyGroups      1470 non-null   object
 43  AgeGroups                 1470 non-null   object
 44  YearsBeforeCompanyGroups  1470 non-null   object
dtypes: int64(26), object(19)
memory usage: 516.9+ KB

In [19]:
df.describe()

,Unnamed: 0,Age,DailyRate,DistanceFromHome,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsBeforeCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,734.500000,36.923810,802.485714,9.192517,1.0,1024.865306,2.721769,65.891156,2.729932,2.728571,...,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.271429,4.229252,2.187755,4.123129
std,424.496761,9.135373,403.509100,8.106864,0.0,602.024335,1.093082,20.329428,0.711561,1.102846,...,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,6.179783,3.623137,3.222430,3.568136
min,0.000000,18.000000,102.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,367.250000,30.000000,465.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,2.000000,...,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,0.000000,2.000000,0.000000,2.000000
50%,734.500000,36.000000,802.000000,7.000000,1.0,1020.500000,3.000000,66.000000,3.000000,3.000000,...,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,2.000000,3.000000,1.000000,3.000000
75%,1101.750000,43.000000,1157.000000,14.000000,1.0,1555.750000,4.000000,83.750000,3.000000,4.000000,...,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,5.000000,7.000000,3.000000,7.000000
max,1469.000000,60.000000,1499.000000,29.000000,1.0,2068.000000,4.000000,100.000000,4.000000,4.000000,...,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,33.000000,18.000000,15.000000,17.000000

In [21]:
df = df.drop(columns=["Unnamed: 0"], errors="ignore")

In [23]:
df = df.replace({True: 1, False: 0})

In [27]:
df['Attrition'] = df['Attrition'].map({'Yes': 1, 'No': 0})

In [29]:
df = pd.get_dummies(df, drop_first=True)

In [31]:
df = df.replace({True: 1, False: 0})

In [33]:
df = df.apply(pd.to_numeric)

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [37]:
X= df.drop("Attrition",axis=1)
y=df['Attrition']

In [39]:
X

,Age,DailyRate,DistanceFromHome,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobSatisfaction,MonthlyIncome,...,YearsAtCompanyGroups_F - 16 => 20 Years,YearsAtCompanyGroups_G - 21 => 25 Years,YearsAtCompanyGroups_H - 25 => 30 Years,YearsAtCompanyGroups_I - 31 => 35 Years,YearsAtCompanyGroups_J - 36 => 40 Years,AgeGroups_B - 22 => 25 Years,AgeGroups_C - 26 => 30 Years,AgeGroups_D - 31 => 40 Years,AgeGroups_E - 41 => 50 Years,AgeGroups_F - 51 => 60 Years
0,41,1102,1,1,1,2,94,3,4,5993,...,0,0,0,0,0,0,0,0,1,0
1,49,279,8,1,2,3,61,2,2,5130,...,0,0,0,0,0,0,0,0,1,0
2,37,1373,2,1,4,4,92,2,3,2090,...,0,0,0,0,0,0,0,1,0,0
3,33,1392,3,1,5,4,56,3,3,2909,...,0,0,0,0,0,0,0,1,0,0
4,27,591,2,1,7,1,40,3,2,3468,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,1,2061,3,41,4,4,2571,...,0,0,0,0,0,0,0,1,0,0
1466,39,613,6,1,2062,4,42,2,1,9991,...,0,0,0,0,0,0,0,1,0,0
1467,27,155,4,1,2064,2,87,4,2,6142,...,0,0,0,0,0,0,1,0,0,0
1468,49,1023,2,1,2065,4,63,2,2,5390,...,0,0,0,0,0,0,0,0,1,0
1469,34,628,8,1,2068,2,82,4,3,4404,...,0,0,0,0,0,0,0,1,0,0

In [41]:
y

0       1
1       0
2       1
3       0
4       0
       ..
1465    0
1466    0
1467    0
1468    0
1469    0
Name: Attrition, Length: 1470, dtype: int64

In [43]:
X_train,x_test,y_train,y_test= train_test_split(X,y, train_size=0.2, random_state=42)

In [47]:
scaler= StandardScaler()
X_train= scaler.fit_transform(X_train)
X_test= scaler.transform(x_test)

In [51]:
import tensorflow as ts

2025-12-22 16:28:04.408661: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1

In [55]:
from tensorflow.keras.models import Sequential

In [57]:
from tensorflow.keras.layers import Dense, Dropout

In [59]:
model=Sequential([
    Dense(128, activation='relu', input_shape=(X_train.shape[1],)),
    Dropout(0.2),
    Dense(64, activation='relu'),
    Dropout(0.2),
    Dense(1, activation='sigmoid'),
])

2025-12-22 16:29:41.678362: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2025-12-22 16:29:41.678624: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2025-12-22 16:29:41.678631: W tensorflow/stream_executor/cuda/cuda_driver.cc:326] failed call to cuInit: UNKNOWN ERROR (303)
2025-12-22 16:29:41.678644: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (ailcomp16): /proc/driver/nvidia/version does not exist
2025-12-22 16:29:41.678778: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-12-22 16:29:41.679078: I tensorflow/compiler/jit/xla_gpu_device.cc:99] Not creating XLA devices, tf_xla_enable_xla_devices not set

In [63]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [65]:
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               17920
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 64)                8256
_________________________________________________________________
dropout_1 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 26,241
Trainable params: 26,241
Non-trainable params: 0
_________________________________________________________________
None

In [67]:
history = model.fit(
    X_train,
    y_train,
    epochs=30,
    batch_size=32,
    validation_split=0.1,
    verbose=1
)

2025-12-22 16:31:43.569076: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)
2025-12-22 16:31:43.596189: I tensorflow/core/platform/profile_utils/cpu_utils.cc:112] CPU Frequency: 2592000000 Hz

Epoch 1/30
9/9 [==============================] - 0s 14ms/step - loss: 0.6553 - accuracy: 0.6605 - val_loss: 0.4748 - val_accuracy: 0.8000
Epoch 2/30
9/9 [==============================] - 0s 4ms/step - loss: 0.4439 - accuracy: 0.8114 - val_loss: 0.4688 - val_accuracy: 0.8000
Epoch 3/30
9/9 [==============================] - 0s 3ms/step - loss: 0.3974 - accuracy: 0.8019 - val_loss: 0.4286 - val_accuracy: 0.8000
Epoch 4/30
9/9 [==============================] - 0s 4ms/step - loss: 0.3622 - accuracy: 0.8335 - val_loss: 0.4099 - val_accuracy: 0.8000
Epoch 5/30
9/9 [==============================] - 0s 4ms/step - loss: 0.3453 - accuracy: 0.8586 - val_loss: 0.4072 - val_accuracy: 0.8000
Epoch 6/30
9/9 [==============================] - 0s 4ms/step - loss: 0.2729 - accuracy: 0.8852 - val_loss: 0.4145 - val_accuracy: 0.8000
Epoch 7/30
9/9 [==============================] - 0s 4ms/step - loss: 0.2431 - accuracy: 0.9137 - val_loss: 0.4177 - val_accuracy: 0.8333
Epoch 8/30
9/9 [==============================] - 0s 4ms/step - loss: 0.2274 - accuracy: 0.9288 - val_loss: 0.4197 - val_accuracy: 0.8333
Epoch 9/30
9/9 [==============================] - 0s 4ms/step - loss: 0.2143 - accuracy: 0.9115 - val_loss: 0.4250 - val_accuracy: 0.8333
Epoch 10/30
9/9 [==============================] - 0s 3ms/step - loss: 0.1821 - accuracy: 0.9169 - val_loss: 0.4345 - val_accuracy: 0.8333
Epoch 11/30
9/9 [==============================] - 0s 4ms/step - loss: 0.1569 - accuracy: 0.9355 - val_loss: 0.4329 - val_accuracy: 0.8667
Epoch 12/30
9/9 [==============================] - 0s 4ms/step - loss: 0.1152 - accuracy: 0.9861 - val_loss: 0.4409 - val_accuracy: 0.9000
Epoch 13/30
9/9 [==============================] - 0s 5ms/step - loss: 0.1118 - accuracy: 0.9718 - val_loss: 0.4452 - val_accuracy: 0.8667
Epoch 14/30
9/9 [==============================] - 0s 3ms/step - loss: 0.0786 - accuracy: 0.9937 - val_loss: 0.4633 - val_accuracy: 0.8667
Epoch 15/30
9/9 [==============================] - 0s 5ms/step - loss: 0.0810 - accuracy: 0.9764 - val_loss: 0.4643 - val_accuracy: 0.8667
Epoch 16/30
9/9 [==============================] - 0s 5ms/step - loss: 0.0629 - accuracy: 0.9804 - val_loss: 0.4830 - val_accuracy: 0.8667
Epoch 17/30
9/9 [==============================] - 0s 4ms/step - loss: 0.0699 - accuracy: 0.9790 - val_loss: 0.4975 - val_accuracy: 0.8667
Epoch 18/30
9/9 [==============================] - 0s 4ms/step - loss: 0.0388 - accuracy: 0.9927 - val_loss: 0.5115 - val_accuracy: 0.8667
Epoch 19/30
9/9 [==============================] - 0s 4ms/step - loss: 0.0377 - accuracy: 0.9992 - val_loss: 0.5179 - val_accuracy: 0.8667
Epoch 20/30
9/9 [==============================] - 0s 4ms/step - loss: 0.0410 - accuracy: 1.0000 - val_loss: 0.5256 - val_accuracy: 0.8667
Epoch 21/30
9/9 [==============================] - 0s 5ms/step - loss: 0.0407 - accuracy: 0.9937 - val_loss: 0.5231 - val_accuracy: 0.8667
Epoch 22/30
9/9 [==============================] - 0s 5ms/step - loss: 0.0274 - accuracy: 1.0000 - val_loss: 0.5431 - val_accuracy: 0.8667
Epoch 23/30
9/9 [==============================] - 0s 5ms/step - loss: 0.0227 - accuracy: 1.0000 - val_loss: 0.5605 - val_accuracy: 0.8333
Epoch 24/30
9/9 [==============================] - 0s 4ms/step - loss: 0.0274 - accuracy: 0.9907 - val_loss: 0.5443 - val_accuracy: 0.8667
Epoch 25/30
9/9 [==============================] - 0s 6ms/step - loss: 0.0196 - accuracy: 0.9984 - val_loss: 0.5498 - val_accuracy: 0.8333
Epoch 26/30
9/9 [==============================] - 0s 5ms/step - loss: 0.0249 - accuracy: 0.9939 - val_loss: 0.5617 - val_accuracy: 0.8333
Epoch 27/30
9/9 [==============================] - 0s 6ms/step - loss: 0.0215 - accuracy: 1.0000 - val_loss: 0.5813 - val_accuracy: 0.8333
Epoch 28/30
9/9 [==============================] - 0s 4ms/step - loss: 0.0133 - accuracy: 1.0000 - val_loss: 0.5965 - val_accuracy: 0.8333
Epoch 29/30
9/9 [==============================] - 0s 3ms/step - loss: 0.0105 - accuracy: 1.0000 - val_loss: 0.5914 - val_accuracy: 0.8333
Epoch 30/30
9/9 [==============================] - 0s 6ms/step - loss: 0.0134 - accuracy: 1.0000 - val_loss: 0.6065 - val_accuracy: 0.8333

In [69]:
from sklearn.metrics import accuracy_score, classification_report
y_pred_prob = model.predict(X_test)
y_pred = (y_pred_prob > 0.5).astype(int)
accuracy = accuracy_score(y_test, y_pred)
print(f"Test Accuracy: {accuracy * 100:.2f}%")
print("\nClassification Report:\n")
print(classification_report(y_test, y_pred))

Test Accuracy: 84.44%

Classification Report:

              precision    recall  f1-score   support

           0       0.88      0.95      0.91       997
           1       0.48      0.25      0.32       179

    accuracy                           0.84      1176
   macro avg       0.68      0.60      0.62      1176
weighted avg       0.82      0.84      0.82      1176